Repository NerdyNomads/Text-Savvy, pull requests merged in 2022-03, with the labels that each got.

#49 Create linter action for ESLint
  .github/workflows/linter.yml
  back-end/package-lock.json
  front-end/.eslintrc.yml
  front-end/package-lock.json
  front-end/src/components/LoginButton.js
  package-lock.json
Labels: medium priority

#59 Create a pull request template
  .github/pull_request_template.md
Labels: documentation, low priority

#61 Add Textbox and TextList Components
  front-end/.eslintrc.yml
  front-end/public/assets/images/add.svg
  front-end/public/assets/images/bookmark.svg
  front-end/public/assets/images/chain.svg
  front-end/public/assets/images/delete.svg
  front-end/public/assets/images/drag_vertical.svg
  front-end/public/assets/images/edit.svg
  front-end/public/assets/images/gear.svg
  front-end/public/assets/images/paper_plane.svg
  front-end/public/assets/images/share.svg
  front-end/public/assets/images/trash_can.svg
  front-end/public/eventPage.js
  front-end/src/App.css
  front-end/src/App.js
  front-end/src/App.test.js
  front-end/src/atoms/LoginButton.js
  front-end/src/atoms/LogoutButton.js
  front-end/src/atoms/TextBox.css
  front-end/src/atoms/TextBox.js
  front-end/src/atoms/TextBoxAdd.css
  front-end/src/atoms/TextBoxAdd.js
  front-end/src/atoms/TextBoxEdit.css
  front-end/src/atoms/icons.css
  front-end/src/atoms/icons.js
  front-end/src/components/LoginButton.js
  front-end/src/components/LogoutButton.js
  front-end/src/components/Sidebar.css
  front-end/src/components/Sidebar.js
  front-end/src/components/TextBox.css
  front-end/src/components/TextBox.js
  front-end/src/components/TextList.css
  front-end/src/components/TextList.js
  front-end/src/index.js
  front-end/src/molecules/TextList.css
  front-end/src/molecules/TextList.js
  front-end/src/organisms/Sidebar.css
  front-end/src/organisms/Sidebar.js
  front-end/src/reportWebVitals.js
Labels: high priority, front-end

#62 Added link between MongoDB Account objects and Auth0
  back-end/persistence/accounts.js
  back-end/persistence/models/accounts.model.js
  front-end/src/App.js
Labels: high priority, back-end

#64 remove landing page to redirect directly to login modal
  front-end/src/App.js
  front-end/src/index.js
Labels: medium priority, front-end

#66 All context menu items are now removed before new ones are created
  front-end/public/eventPage.js
Labels: bug, low priority

#69 Re/feat/components connect db
  back-end/persistence/models/texts.model.js
  back-end/persistence/texts.js
  front-end/public/eventPage.js
  front-end/src/App.js
  front-end/src/atoms/TextBox.js
  front-end/src/atoms/TextBoxAdd.js
  front-end/src/molecules/TextList.js
Labels: high priority, front-end, back-end, Chrome Extension

#67 Add TextBoxPopUp Modal
  front-end/public/assets/images/chain_sm.svg
  front-end/src/App.js
  front-end/src/atoms/TextBox.css
  front-end/src/atoms/TextBox.js
  front-end/src/atoms/TextBoxAdd.js
  front-end/src/atoms/TextBoxEdit.css
  front-end/src/atoms/TextBoxPopUp.css
  front-end/src/atoms/TextBoxPopUp.js
  front-end/src/atoms/icons.js
  front-end/src/molecules/TextList.css
Labels: high priority, front-end

#68 Add SideBar Component
  front-end/public/assets/images/gear_sm.svg
  front-end/public/assets/images/logout.svg
  front-end/src/App.css
  front-end/src/App.js
  front-end/src/atoms/icons.js
  front-end/src/index.css
  front-end/src/organisms/Sidebar.css
  front-end/src/organisms/Sidebar.js
  front-end/src/pages/Dashboard.css
  front-end/src/pages/Dashboard.js
Labels: high priority, front-end

#72 Added backend unit tests for Account object
  back-end/__tests__/accounts.test.js
  back-end/objects/workspace.js
  back-end/package-lock.json
  back-end/package.json
  back-end/server.js
Labels: medium priority, back-end

#73 Ev/feat/copy link to clipboard
  front-end/src/atoms/TextBox.css
  front-end/src/atoms/TextBox.js
  front-end/src/atoms/TextBoxAdd.css
  front-end/src/atoms/TextBoxAdd.js
  front-end/src/atoms/TextBoxEdit.css
Labels: medium priority, front-end

#74 Remove function works synchronously on web app
  front-end/src/atoms/TextBox.js
  front-end/src/molecules/TextList.js
Labels: high priority, front-end, back-end

#76 Add new text item to database and display on screen synchronously.
  front-end/src/App.js
  front-end/src/atoms/TextBox.js
  front-end/src/atoms/TextBoxAdd.js
  front-end/src/molecules/TextList.js
Labels: bug, high priority, front-end, back-end

#77 Added unit tests for App.js and LogoutButton.js
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.test.js
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/LogoutButton.test.js
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/LogoutButton.test.js.snap
  front-end/src/atoms/LoginButton.js
  front-end/src/setupTests.js
Labels: medium priority, front-end

#79 Edit CI job to run frontend tests
  .github/workflows/frontend-tests.yml
  front-end/src/__tests__/App.test.js
Labels: high priority, front-end, CI

#84 Copy link in Popup
  front-end/src/atoms/TextBoxPopUp.js
Labels: medium priority, front-end

#83 Extension popup
  .github/workflows/auto-build.yml
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/public/eventPage.js
  front-end/public/favicon.ico
  front-end/public/logo.png
  front-end/public/logo192.png
  front-end/public/logo512.png
  front-end/public/manifest.json
  front-end/public/popup.css
  front-end/public/popup.html
  front-end/public/popup.js
  front-end/public/robots.txt
  front-end/src/molecules/TextList.js
Labels: high priority, Chrome Extension

#89 Added frontend tests for App, Sidebar, and Dashboard components
  front-end/package-lock.json
  front-end/package.json
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/Dashboard.test.js
  front-end/src/__tests__/LogoutButton.test.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/__snapshots__/Dashboard.test.js.snap
  front-end/src/__tests__/__snapshots__/LogoutButton.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/atoms/LogoutButton.js
  front-end/src/pages/Dashboard.js
Labels: medium priority, front-end, back-end

#90 Added tests for Texts endpoints and schema
  back-end/__tests__/accounts.test.js
  back-end/__tests__/texts.test.js
  back-end/persistence/texts.js
  back-end/server.js
Labels: medium priority, back-end

#91 Mm/feat/extension test
  back-end/README.md
  back-end/package-lock.json
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/public/background-wrapper.js
  front-end/public/background.js
  front-end/public/eventPage.js
  front-end/public/helper.js
  front-end/public/manifest.json
  front-end/src/__tests__/Extension.test.js
Labels: high priority, Chrome Extension

#92 Add tests for Texts and import Test Plan
  docs/COMP_4350_Architecture.png
  docs/Class Diagram.png
  docs/TextSavvy_TestPlan.pdf
  front-end/src/__tests__/TextBoxPopUp.test.js
  front-end/src/__tests__/__snapshots__/TextBoxPopUp.test.js.snap
Labels: high priority, front-end

#94 Developer's Notes
  .gitignore
  README.md
  front-end/package-lock.json
  front-end/public/index.html
  readme.md
Labels: documentation, low priority

#93 Add video of our project in README.md
  README.md
Labels: documentation, low priority

#99 Move textbox related component into its own folder
  front-end/src/__tests__/TextBoxPopUp.test.js
  front-end/src/atoms/TextBox/TextBox.css
  front-end/src/atoms/TextBox/TextBox.js
  front-end/src/atoms/TextBox/TextBoxAdd.css
  front-end/src/atoms/TextBox/TextBoxAdd.js
  front-end/src/atoms/TextBox/TextBoxEdit.css
  front-end/src/atoms/TextBox/TextBoxPopUp.css
  front-end/src/atoms/TextBox/TextBoxPopUp.js
  front-end/src/molecules/TextList.js
Labels: medium priority, front-end

#100 add refactor ad an issue type in branching rule
  README.md
Labels: documentation, low priority

#95 Re/feat/extension workspace
  back-end/persistence/models/accounts.model.js
  back-end/persistence/models/texts.model.js
  back-end/persistence/models/workspaces.model.js
  back-end/persistence/texts.js
  back-end/persistence/workspaces.js
  back-end/presentation/test_ui.html
  front-end/public/background.js
  front-end/public/helper.js
  front-end/public/manifest.json
  front-end/src/__tests__/Extension.test.js
  front-end/src/atoms/TextBox/TextBoxAdd.js
  front-end/src/organisms/Sidebar.js
Labels: high priority, back-end, feature

#109 add button component
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/atoms/Button.css
  front-end/src/atoms/Button.js
  front-end/src/organisms/Sidebar.js
Labels: high priority, front-end, feature

#121 Add the ability to add collab and workspace in user interface level
  front-end/public/assets/images/add-collab.svg
  front-end/public/assets/images/add-workspace.svg
  front-end/public/assets/images/edit.svg
  front-end/src/App.css
  front-end/src/App.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/atoms/Button.css
  front-end/src/atoms/SidebarWorkspaceItem.css
  front-end/src/atoms/SidebarWorkspaceItem.js
  front-end/src/atoms/TextBox/TextBoxPopUp.css
  front-end/src/atoms/icons.js
  front-end/src/molecules/CollaboratorItem.css
  front-end/src/molecules/CollaboratorItem.js
  front-end/src/molecules/SidebarWorkspace.css
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/organisms/Sidebar.css
  front-end/src/organisms/Sidebar.js
  front-end/src/organisms/WorkspaceSettings.css
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/pages/Dashboard.css
  front-end/src/util/util.js
Labels: high priority, front-end, feature

#107 Ev/feat/implement docker image
  .github/workflows/docker-upload.yml
  back-end/backend.dockerfile
  docker-compose.yml
  front-end/frontend.dockerfile
Labels: CD

#116 Add backend tests for workspace endpoints and objects
  back-end/__tests__/workspaces.test.js
  back-end/persistence/workspaces.js
Labels: medium priority, back-end, tests

#134 Move options to bottom of sidebar
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/organisms/Sidebar.css
  front-end/src/organisms/Sidebar.js
Labels: low priority, front-end

#131 add collab icon functionality #125
  front-end/src/organisms/WorkspaceSettings.js
Labels: medium priority, front-end, feature

#130 Add workspace title in dashboard component
  front-end/src/App.js
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/Dashboard.test.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/Dashboard.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/atoms/SidebarWorkspaceItem.css
  front-end/src/atoms/SidebarWorkspaceItem.js
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/organisms/Sidebar.js
  front-end/src/pages/Dashboard.css
  front-end/src/pages/Dashboard.js
Labels: high priority, front-end, feature

#132 Added validation and error messaging when adding a workspace
  front-end/src/atoms/ErrorMessage.css
  front-end/src/atoms/ErrorMessage.js
  front-end/src/atoms/icons.js
  front-end/src/organisms/WorkspaceSettings.css
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/util/util.js
Labels: medium priority, front-end, feature

#136 workspaces DB displays text ID in its array
  back-end/__tests__/texts.test.js
  back-end/persistence/texts.js
  front-end/public/background.js
  front-end/public/helper.js
Labels: back-end, Chrome Extension

#141 Added the ability to remove collaborators from a workspace
  front-end/src/organisms/WorkspaceSettings.js
Labels: high priority, front-end, feature

#138 Connected frontend and backend for workspaces and text objects
  back-end/__tests__/accounts.test.js
  back-end/__tests__/workspaces.test.js
  back-end/persistence/accounts.js
  back-end/persistence/models/workspaces.model.js
  back-end/persistence/texts.js
  back-end/persistence/workspaces.js
  front-end/src/App.js
  front-end/src/__tests__/Dashboard.test.js
  front-end/src/atoms/SidebarWorkspaceItem.js
  front-end/src/atoms/TextBox/TextBoxAdd.js
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/molecules/TextList.js
  front-end/src/organisms/Sidebar.js
  front-end/src/pages/Dashboard.js
Labels: high priority, front-end, back-end

#147 Edit Workspace Popup now Displays Accurate Information
  front-end/src/App.js
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/pages/Dashboard.js
  front-end/src/util/requests.js
Labels: high priority, front-end, back-end, feature
