Repository NerdyNomads/Text-Savvy, pull requests merged in 2022-04, with the labels that each got.

#152 Fixed failing backend tests
  back-end/__tests__/accounts.test.js
  back-end/__tests__/texts.test.js
  back-end/__tests__/workspaces.test.js
Labels: medium priority, back-end, tests

#159 Jm/feat/edit workspace title
  front-end/public/assets/images/save.svg
  front-end/src/atoms/TextBox/TextBoxAdd.js
  front-end/src/atoms/icons.js
  front-end/src/organisms/WorkspaceSettings.css
  front-end/src/organisms/WorkspaceSettings.js
Labels: front-end, feature

#161 add logo on sidebar
  front-end/public/assets/images/logo.svg
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/atoms/icons.js
  front-end/src/organisms/Sidebar.css
  front-end/src/organisms/Sidebar.js
Labels: low priority, front-end

#151 Added ability to add and remove collaborators to a workspace
  back-end/persistence/accounts.js
  back-end/persistence/workspaces.js
  front-end/src/App.js
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/atoms/Button.js
  front-end/src/atoms/TextBox/TextBox.js
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/molecules/TextList.js
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/util/requests.js
Labels: high priority, front-end, back-end

#162 Change copy on click feedback
  front-end/src/atoms/TextBox/TextBox.css
  front-end/src/atoms/TextBox/TextBox.js
  front-end/src/atoms/icons.js
Labels: medium priority, front-end, feature

#163 Added new backend tests for workspace features
  back-end/__tests__/accounts.test.js
  back-end/__tests__/texts.test.js
  back-end/__tests__/workspaces.test.js
Labels: medium priority, back-end, tests

#160 Added new frontend tests for workspaces
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/CollaboratorItem.test.js
  front-end/src/__tests__/Dashboard.test.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/SidebarWorkspace.test.js
  front-end/src/__tests__/SidebarWorkspaceItem.test.js
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/CollaboratorItem.test.js.snap
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/__tests__/__snapshots__/SidebarWorkspace.test.js.snap
  front-end/src/__tests__/__snapshots__/SidebarWorkspaceItem.test.js.snap
Labels: medium priority, front-end, tests

#150 Make the add collaborators popup bigger
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/organisms/Sidebar.js
  front-end/src/organisms/WorkspaceSettings.css
Labels: low priority, front-end

#146 Filtering workspaces that belong to current user logged in
  front-end/build.crx
  front-end/public/background.js
  front-end/public/helper.js
  front-end/public/manifest.json
  front-end/src/App.js
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/SidebarWorkspace.test.js
  front-end/src/atoms/TextBox/TextBox.js
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/organisms/Sidebar.js
Labels: high priority, back-end, Chrome Extension

#174 Fixed bug with web app and uninstalled extension
  front-end/src/App.js
Labels: bug, front-end, Chrome Extension

#164 Stay on same current workspace on refresh
  front-end/src/App.js
  front-end/src/molecules/SidebarWorkspace.js
Labels: bug, medium priority, front-end

#166 copy on click feedback textbox popup
  front-end/src/__tests__/TextBoxPopUp.test.js
  front-end/src/__tests__/__snapshots__/TextBoxPopUp.test.js.snap
  front-end/src/atoms/TextBox/TextBox.js
  front-end/src/atoms/TextBox/TextBoxPopUp.css
  front-end/src/atoms/TextBox/TextBoxPopUp.js
Labels: medium priority, front-end, feature

#171 Jm/refactor/update sidebar UI
  front-end/public/assets/images/gear_sm_grey.svg
  front-end/src/__tests__/__snapshots__/SidebarWorkspaceItem.test.js.snap
  front-end/src/atoms/SidebarWorkspaceItem.js
  front-end/src/atoms/icons.js
  front-end/src/molecules/SidebarWorkspace.js
Labels: medium priority, front-end, refactor

#175 Delete a Workspace
  front-end/src/__tests__/__snapshots__/SidebarWorkspaceItem.test.js.snap
  front-end/src/atoms/DeleteButton.css
  front-end/src/atoms/DeleteButton.js
  front-end/src/atoms/SidebarWorkspaceItem.css
  front-end/src/atoms/SidebarWorkspaceItem.js
  front-end/src/molecules/ConfirmationPopup.css
  front-end/src/molecules/ConfirmationPopup.js
  front-end/src/molecules/TextList.css
  front-end/src/organisms/WorkspaceSettings.css
  front-end/src/organisms/WorkspaceSettings.js
Labels: high priority, front-end, feature

#172 Added extra tests and updated Test Plan document
  back-end/__tests__/workspaces.test.js
  docs/TextSavvy_TestPlan.pdf
  front-end/src/__tests__/WorkspaceSettings.test.js
  front-end/src/__tests__/__snapshots__/WorkspaceSettings.test.js.snap
  front-end/src/organisms/WorkspaceSettings.js
Labels: documentation, medium priority, front-end, back-end, tests

#178 fix failing front end test on develop
  front-end/src/__tests__/__snapshots__/WorkspaceSettings.test.js.snap
Labels: bug, high priority, front-end, tests

#177 Delete workspace from database
  back-end/persistence/accounts.js
  back-end/persistence/workspaces.js
  front-end/src/atoms/DeleteButton.js
  front-end/src/molecules/ConfirmationPopup.js
  front-end/src/organisms/Sidebar.js
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/pages/Dashboard.js
  front-end/src/util/requests.js
Labels: medium priority, back-end

#180 Fixed some bugs and errors.
  front-end/public/background.js
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/pages/Dashboard.js
Labels: bug, back-end, Chrome Extension

#181 Build and Push app to Docker repository
  .github/workflows/docker-upload.yml
  .gitignore
  DOCKER_README.md
  back-end/backend.dockerfile
  docker-compose.yml
  front-end/frontend.dockerfile
Labels: high priority, CD

#183 Rebase main -> develop into main
  COMP_4350_Architecture.png
Labels: documentation, low priority

#184 Fix README conflict between main and develop
  readme.md
Labels: documentation, low priority

#190 Integrate Security Scanner
  .github/workflows/sonarcloud.yml
  front-end/public/helper.js
  readme.md
Labels: high priority, CI

#193 Bug Fix
  front-end/public/background.js
  front-end/public/helper.js
Labels: bug, back-end, Chrome Extension

#192 Make the sidebar scrollable when there are lots of workspaces
  front-end/src/molecules/SidebarWorkspace.css
Labels: front-end

#201 Fixed bug when entering a super long word in textbox
  front-end/src/atoms/TextBox/TextBox.css
  front-end/src/atoms/TextBox/TextBoxPopUp.css
Labels: bug, low priority, front-end

#199 Cleaned up code for Spring Cleaning
  back-end/persistence/accounts.js
  back-end/persistence/texts.js
  back-end/persistence/workspaces.js
  front-end/src/App.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/__snapshots__/Sidebar.test.js.snap
  front-end/src/atoms/TextBox/TextBoxAdd.js
  front-end/src/organisms/Sidebar.js
Labels: medium priority, refactor

#200 Clean up: import orders, css classNames, and minor things #196
  front-end/src/atoms/TextBox/TextBox.css
  front-end/src/atoms/TextBox/TextBox.js
  front-end/src/atoms/TextBox/TextBoxAdd.js
  front-end/src/atoms/TextBox/TextBoxPopUp.js
  front-end/src/index.js
  front-end/src/molecules/CollaboratorItem.js
  front-end/src/molecules/ConfirmationPopup.js
  front-end/src/molecules/SidebarWorkspace.js
  front-end/src/molecules/TextList.js
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/reportWebVitals.js
Labels: medium priority, front-end, refactor

#195 Add Propagation of Props Refactor
  front-end/src/atoms/icons.js
Labels: medium priority, front-end, refactor

#194 Separated authentication functions from App.js
  front-end/src/App.js
  front-end/src/util/authentication.js
Labels: low priority, refactor

#203 Jm/feat/add refesh button
  front-end/public/assets/images/reload_arrows.svg
  front-end/src/__tests__/__snapshots__/App.test.js.snap
  front-end/src/__tests__/__snapshots__/Dashboard.test.js.snap
  front-end/src/atoms/Button.js
  front-end/src/atoms/RefreshButton.css
  front-end/src/atoms/RefreshButton.js
  front-end/src/atoms/icons.js
  front-end/src/pages/Dashboard.css
  front-end/src/pages/Dashboard.js
Labels: high priority, front-end, feature

#208 Load Test Results Document
  DockerReadme.md
  LoadTestSummary.md
Labels: documentation, feature

#209 Update readme.md
  readme.md
Labels: documentation

#207 Fixed text overflow when workspace has a long name
  front-end/src/organisms/WorkspaceSettings.css
Labels: bug, low priority, front-end

#210 fix Workflow typo
  .github/workflows/sonarcloud.yml
Labels: bug, CI

#205 Reduce code smells suggested by sonar cloud
  .github/workflows/sonarcloud.yml
  back-end/persistence/accounts.js
  back-end/persistence/texts.js
  back-end/persistence/workspaces.js
  front-end/public/popup.html
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/Dashboard.test.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/atoms/SidebarWorkspaceItem.css
  front-end/src/atoms/TextBox/TextBoxEdit.css
  front-end/src/molecules/CollaboratorItem.css
  front-end/src/molecules/SidebarWorkspace.css
  front-end/src/molecules/TextList.js
Labels: medium priority, front-end, back-end, refactor

#211 Directory for load test file for project release
  load_test/LoadTestSummary.md
  load_test/TestPlan.jmx
  load_test/csv_data/AddText.csv
  load_test/csv_data/AddWorkspace.csv
  load_test/csv_data/PatchWorkspaceName.csv
Labels: documentation

#212 Fix SonarCloud failures
  back-end/server.js
  front-end/src/App.js
  front-end/src/__tests__/App.test.js
  front-end/src/__tests__/Dashboard.test.js
  front-end/src/__tests__/Sidebar.test.js
  front-end/src/__tests__/SidebarWorkspace.test.js
  front-end/src/__tests__/WorkspaceSettings.test.js
  front-end/src/__tests__/__snapshots__/SidebarWorkspaceItem.test.js.snap
  front-end/src/atoms/RefreshButton.js
  front-end/src/atoms/SidebarWorkspaceItem.css
  front-end/src/atoms/SidebarWorkspaceItem.js
  front-end/src/molecules/SidebarWorkspace.css
  front-end/src/molecules/TextList.js
  front-end/src/organisms/WorkspaceSettings.js
  front-end/src/pages/Dashboard.js
  front-end/src/util/authentication.js
  front-end/src/util/requests.js
  front-end/src/util/util.js
Labels: high priority, front-end, back-end, refactor
